<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <mvc:default-servlet-handler/>
    <context:component-scan base-package="org.example"/>
    <aop:aspectj-autoproxy/>
    <context:annotation-config/>


    <mvc:annotation-driven />

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value=""/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <context:property-placeholder location="/WEB-INF/db.properties"/>

    <!-- 可通过SpringContextUtil获取Spring容器中的任何bean
 在根据SpringServlet.xml初始化上下文时，会自动调用setApplicationContext()方法去获取ApplicationContext
  -->
    <bean id="springContextUtil" class="org.example.context.SpringContextUtil"></bean>

    <bean id="dataSource"
          class="org.apache.commons.dbcp2.BasicDataSource" >
    <property name="username" value="${jdbc.user}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="driverClassName" value="${jdbc.driverClass}"></property>
        <property name="Url" value="${jdbc.jdbcUrl}"></property>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="studentServiceImpl" class="org.example.service.StudentServiceImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>

    <bean id = "homeworkServiceImpl" class="org.example.service.HomeworkServiceImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>

    <bean id="studentHomeworkServiceImpl"
          class="org.example.service.StudentHomeworkServiceImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>

    <bean id="testAspect" class="org.example.aspect.Aspect">
        <!-- configure properties of aspect here as normal -->
    </bean>

</beans>